body {
  margin: 0;
  padding: 0;
}

.app {
  background: linear-gradient(to bottom right, #e96b63, #f8a032);
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.navbar {
  border-width: 0 !important;
  border-color: rgba(0, 0, 0, 100) !important;
}

.navbar-item {
  font-size: 1.2em;
}

.navbar-container {
  background-color: #3fbe94 !important;
  margin: 0 !important;
}

.heading {
  text-align: center;
  z-index: 1;
  margin-bottom: 2rem !important;
}

.title {
  font-size: 6em !important;
  font-family: 'Nanum Pen Script', cursive !important;
  font-weight: normal !important;
  margin-bottom: 0 !important;
}

.subtitle {
  font-size: 1.7em !important;
  font-weight: normal !important;
  margin-top: 0 !important;
}

#about {
  margin: 2rem;
  text-align: center;
}

#banana-king {
  margin: 1rem;
}

.about-title {
  display: flex;
  justify-content: center;
}

.paragraph {
  font-size: 1.5rem;
  margin: 2rem !important;
}

.video {
  margin: auto;
  margin-top: 4rem;
  text-align: center;
}
.video iframe {
  width: 50vw;
  height: 30vw;
}

.white {
  color: white;
}

#team-list {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  display: flex !important;
  flex-basis: 48%;
  margin: 1% !important;
}

.headshot {
  margin: 1%;
  width: auto !important;
  height: auto !important;
  max-height: 14rem;
}

@media screen and (max-width: 1024px) {
  #about > img {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  #about > img {
    width: 150px;
  }

  .about-title {
    display: block;
  }

  .headshot {
    display: none !important;
  }
}

@media screen and (max-width: 440px) {
  .navbar-item {
    font-size: 0.9em;
  }

  .team-member {
    flex-basis: auto;
  }
}

@media screen and (max-width: 1024px) and (min-height: 440px) {
  .video iframe {
    width: 100vw;
    height: 60vw;
  }
}

/* @media screen and (min-height: 640px) {
  .video {
    margin-top: 15vh;
  }
} */
