body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #e96b63;
  height: 100vh;
}

/* .background-img {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
} */

.navbar {
  border-width: 0 !important;
  border-color: rgba(0, 0, 0, 100) !important;
}

.navbar-item {
  font-size: 1.2em;
}

.navbar-container {
  background-color: #3fbe94 !important;
  margin: 0 !important;
}

.heading {
  text-align: center;
  z-index: 1;
}

.padding {
  padding: 15px !important;
}

.team-member {
  display: flex !important;
}

.headshot {
  padding: 10px;
  max-height: 170px;
}

.paragraph {
  font-size: 1.2em;
}
